[Unit]
Description=Move rotated journal files to compressed archive
RequiresMountsFor=/var/log/journal_archive
After=var-log-journal_archive.mount
AssertPathIsMountPoint=/var/log/journal_archive

[Service]
Type=oneshot
ExecStart=/usr/lib/journald-archive/journald-archive
Nice=10
IOSchedulingClass=best-effort
IOSchedulingPriority=7
